<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>Welcome!</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Here are some jobs we have available</h1>
      <div class="dropdown" onclick="jobSelectionHandler()">
        <div class="select">
          <span class="selected">Available Jobs</span>
          <div class="caret"></div>
        </div>
        <div id="jobs" class="menu">
          <li id="1" class="active" onclick="jobSelectedHandler(1)">Software Engineer</li>
          <li id="2" onclick="jobSelectedHandler(2)">Product Manager</li>
          <li id="3" onclick="jobSelectedHandler(3)">Sales Engineer</li>
        </div>
      </div>
      <div id="job-information">
        <h4 id="description-header">Job Description</h4>
        <p id="description"></p>
        <h4>Job Location</h4>
        <p id="job-location"></p>
      </div>
    </header>
  </body>
</html>
